/*CSS FOR THE GAMEBOARD*/

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Suravaram');
a:link {
    color: orange;
}
a:visited {
    color: green;
}
body {
    background-image: url("../Pics/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.Cash {
    width: 80px;
}

#in {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    padding-left: 30px;
}
#player {    
    position: fixed;
    margin-top: 13%;
    width: 15%;
    text-align: center;  
}
#QAns {
    color: white;
    width: 100%;
}
.BogStandard {
    color: white;
}
#computer {
    right: 0;
    float: right;
    margin-top: 13%;
    text-align: center;
}

#pad {
    position: fixed;
    margin-top: -1%;
    padding-left: 15%;
}
#Board {
    position: fixed;
    background-image: url("../Pics/GameBoard.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    height: 90%;
}

.Categories {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    height: 10%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px black;
}

.InL {
    text-align: center;
    display: inline-block;
    color: white;
    width: 16.5%;
}

.Buttons {
    text-align: center;
    margin-top: .5%;
    height: 100%;
}

.InL2 {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5.5vh;
    width: 11.7%;
    height: 10%;
    color: gold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 21pt;
}

body {
    background-image: url("../Pics/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#Question {
    font-family: 'Suravaram', serif;
    text-shadow: 2px 2px black;
    font-size: 30pt;
    color: white;
    padding-top: 10%
}
#Hint{
    display: none;
    color: white;
}
#pad2 {
    margin-top: 0%;
    margin-left: 15%;
}
#Board2 {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    background-image: url("../Pics/QuestionCard.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    height: 85%;
}
#invisi2 {
    display: none;
}